{% extends 'base.html' %}
{% block title %} Login Page {% endblock %}
{% load static %}


{% block body %}
<div class="sliderInnerBackground">
    <div class="loginLabel">
        Данные для входа 
    </div>
    <form class="loginForm" method="POST" action="/login/">{% csrf_token %}
        <div class="loginDetails">
            <label>Логин</label>
            <input type="text" placeholder="Введите логин" id="username" name="username"  required>
        </div>
        <div class="loginDetails">
            <label>Пароль</label>
            <input type="password" placeholder="Введите пароль" id="password" name="password" required>
        </div>
        <button type="submit">Войти</button>
    </form>
</div>
{% endblock %}
{% block js %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="{% static 'ui/js/libs.min.js' %}"></script>
<script src="{% static 'ui/js/main.js' %}"></script>
{% endblock %}