{% extends 'base.html' %}
{% block title %} Sign Up {% endblock %}
{% load static %}


{% block body %}
<div class="sliderInnerBackground">
        <div class="loginLabel">Данные для регистрации</div>

        <form class="loginForm signupForm" method="POST" action="/signup/">{% csrf_token %}
                <div class="loginDetails">
                        <label> Имя</label>
                        <input type="text" placeholder="Введите имя" id="first_name" name="first_name" required>
                </div>
                <div class="loginDetails">
                        <label>Фамилия</label>
                        <input type="text" placeholder="Введите фамилию" id="last_name" name="last_name" required>
                </div>
                <div class="loginDetails">
                        <label>Логин</label>
                        <input type="text" placeholder="Введите логин" id="username" name="username" required>
                </div>
                <div class="loginDetails">
                        <label>Email</label>
                        <input type="email" placeholder="Введите Email" id="email" name="email" required>
                </div>
                <div class="loginDetails">
                        <label>Пароль</label>
                        <input type="password" placeholder="Введите пароль" id="password" name="password" required>
                </div>
                <div class="loginDetails">
                        <input type="password" placeholder="Подтвердите пароль" id="password2" name="password2" required>
                </div>
                <button type="submit">Зарегистрироваться</button>
        </form>
</div>
{% endblock %}
{% block js %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="{% static 'ui/js/libs.min.js' %}"></script>
<script src="{% static 'ui/js/main.js' %}"></script>
{% endblock %}