// global start
html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    font-family: "Times New Roman", Times, sans-serif;
    margin: 0;
    position: relative;
    background-color: #fff;
}

a {
    color: #fff;
    display: inline-block;
    text-decoration: none;
}

ul,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}
.containerFluid {
    max-width: 100%;
    margin: auto;
    // padding: 0 50px;
}
// global end
// base start
.header,
footer {
    width: 100%;
}
.headerTop {
    background-color: #2a106b;
    background-image: url("../img/page_bg5.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.headerWrapper,
.footerWrapper {
    background: transparent url("../img/page_bg1.png") 50% 30% no-repeat;
    box-shadow: inset 0 -2px 3px 0 rgb(0 0 0 / 15%);
}
.headerInnerTop {
    display: flex;
    justify-content: space-between;
    height: 150px;
    align-items: center;
    padding-bottom: 25px;
}
.headerLogoOne {
    color: #fff;
    text-transform: uppercase;
    position: relative;
    max-width: 240px;
    width: 100%;
    text-align: center;
    display: block;
    height: 60px;
    padding-top: 7px;
    margin-top: 15px;
    // transition: all ease-in 0.1s;
    img {
        position: absolute;
        bottom: 0px;
        left: -120px;
    }
}
.logoOneText {
    font-size: 16px;
    font-weight: 300;
}
.headerLogoTwo {
    color: #fff;
    text-transform: uppercase;
    text-align: end;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 540px;
    width: 100%;
    margin-left: 25px;
    img {
        height: 95px;
        padding-right: 5px;
    }
}
.logoTwoText {
    font-size: 18px;
    font-weight: 300;
    padding-left: 5px;
    p {
        font-size: 26px;
        font-weight: 600;
        margin: 0;
    }
    div {
        padding-top: 12px;
    }
}
.headerMenu {
    font-size: 16px;
    ul {
        padding-left: 15px;
        li {
            display: inline-block;
            & + li {
                margin-left: 30px;
            }
        }
    }
}
.headerBottom {
    background-color: rgb(21, 7, 82);
    height: 50px;
    text-align: center;
}
.headerTitle {
    color: #fff;
    font-size: 30px;
    font-size: 600;
    padding-top: 6px;
    text-shadow: 0 2px 3px rgb(0 0 0 / 20%);
}
.promoSlider {
    position: relative;
    min-height: 300px;
    height: 100%;
}
.promoSliderWrapper {
    background-color: #130b08;
    min-height: 300px;
    height: 100%;
    width: 100%;
    background-repeat: repeat;
    position: absolute;
    background-image: url("../img/pattern.png");
    left: 0;
    top: 0;
    opacity: 0.6;
    z-index: 3;
}

.sliderInnerBackground {
    position: absolute;
    z-index: 101;
    border-radius: 8px;
    top: 50%;
    margin-top: -3%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    text-align: center;
    max-width: 1000px;
    width: 100%;
    background-color: #2a106bc0;
}
.footer {
    background-color: #2a106b;
}
.footerWrapper {
    background: transparent url(../img/page_bg1.png) 50% 80% no-repeat;
}
.footerInner {
    text-align: center;
    color: #fff;
    font-size: 17px;
    padding-top: 20px;
    height: 60px;
}

// base end
// index start
.sliderBackgroundTitle {
    font-weight: 700;
    font-size: 40px;
    color: #fff;
    padding: 30px 50px 40px;
    text-shadow: 0 2px 3px rgb(0 0 0 / 20%);
}
.sliderItem {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 300px;
    height: 100%;
    width: 100%;
    opacity: 0.4;
    // height: 401px;
}
.sliderInnerCard {
    text-align: center;
    color: #fff;
    padding: 30px 50px 30px;
}
.cardTitle {
    font-size: 26px;
    text-transform: uppercase;
}
.cardInner {
    font-size: 21px;
    padding-top: 7px;
    a {
        font-size: 26px;
    }
}
.calltoaction__button {
    margin-top: 30px;
    border-radius: 4px;
    // background-color: #fff;
    text-align: center;
    padding: 8px;
    width: 170px;
    height: 50px;
    animation: radial-pulse 1s infinite;
}
.calltoaction__button:hover {
    animation: radial-pulse none;
}

@keyframes radial-pulse {
    0% {
        box-shadow: 0 0 0 0px rgba(255, 255, 255, 0.5);
    }

    100% {
        box-shadow: 0 0 0 20px rgba(255, 255, 255, 0);
    }
}
// index end

//login start
.loginLabel {
    font-size: 26px;
    padding-top: 10px;
    color: #fff;
    padding-bottom: 17px;
}
.loginDetails {
    max-width: 370px;
    width: 100%;
    display: block;
    margin: 0 auto;
    text-align: end;
    label {
        color: #fff;
        font-size: 20px;
        margin-right: 10px;
    }
    input {
        text-align: center;
        padding: 3px 5px;
        max-width: 260px;
        width: 100%;
        &:focus {
            border-color: rgba(93, 24, 107, 0.8) !important;
            outline: inherit !important;
        }
        &:hover,
        &:active {
            outline: inherit !important;
        }
    }
    & + & {
        padding-top: 20px;
    }
}
.loginForm {
    button {
        margin-top: 20px;
        padding: 6px 11px;
        margin-bottom: 10px;
    }
    button:hover {
        border-color: rgba(93, 24, 107, 0.8) !important;
    }
}
//login end

//signup start
.signupForm {
    button {
        width: 150px;
    }
}
//signup end

// quiz start
.quizInnerItem {
    font-family: "Times New Roman", Times, sans-serif;
    font-size: 16px;
    text-transform: none;
    color: #fff;
    font-weight: 300;
}
.quizInnerItem {
    h1 {
        font-size: 40px;
        font-weight: 700;
        margin: 10px;
    }
    div {
        font-size: 21px;
        margin: 7px 0 10px;
    }
    h4 {
        margin: 7px 0 20px;
        font-size: 20px;
        font-weight: 400;
        color: rgba(0, 255, 127, 0.7);
        opacity: 0;
        transition: all ease 0.5s;
    }
    a {
        margin: 15px 0 20px;
        font-size: 18px;
        padding-left: 10px;
        padding-right: 10px;
    }
    & .animation-true {
        opacity: 1;
        animation-name: pulse;
        animation-duration: 2s;
        animation-delay: 0.5s;
        animation-iteration-count: infinite;
        animation-play-state: running;
    }
}
// .quizInnerItem span {
//     font-weight: 900;
//     font-style: italic;
// }

@keyframes pulse {
    0% {
        color: rgba(0, 255, 127, 0.7);
    }
    50% {
        color: rgba(0, 255, 127, 0.3);
    }
    100% {
        color: rgba(0, 255, 127, 0.7);
    }
}

button {
    padding: 10px 20px;
    border-radius: 6px;
    border: transparent 1px solid;
    font-size: 15px;
    font-weight: 300;
    transition: all ease 0.5s;
    cursor: pointer;
    width: 105px;
}
#start:hover {
    border: rgba(0, 255, 127, 0.7) 1px solid;
}
#stop:hover {
    border: rgba(196, 30, 58, 0.8) 1px solid;
}

.start-stop + .start-stop {
    margin-left: 20px;
}
.active {
    background-color: rgba(0, 255, 127, 0.7);
}

#stop.active {
    background-color: rgba(196, 30, 58, 0.8);
}
.nonvision {
    display: none;
}
.quizInnerNonBtn {
    margin-bottom: 56px;
}
.sound-clips {
    margin-bottom: 20px;
}

// quiz end

// start media

@media (max-width: 1450px) {
    .headerLogoOne {
        height: 0;
        margin-top: 60px;
        img {
            margin: auto;
            left: 0;
            bottom: 10px;
            right: 0;
        }
    }
}
@media (max-width: 1090px) {
    .headerMenu {
        ul {
            li {
                display: block;
                text-align: left;
                & + li {
                    margin-left: 0px;
                    padding-top: 10px;
                }
            }
        }
    }
}
@media (max-width: 1020px) {
    .headerLogoTwo {
        margin-left: 0px;
        justify-content: left;
        img {
            margin-left: 20px;
        }
    }
    .logoTwoText {
        font-size: 16px;
        p {
            font-size: 24px;
        }
    }
    .sliderInnerBackground {
        width: 95%;
    }
    .sliderBackgroundTitle {
        font-size: 36px;
    }
}
@media (max-width: 920px) {
    .headerInnerTop {
        padding-bottom: 0;
    }
    .headerLogoOne {
        margin-top: 10px;
        img {
            width: 40%;
        }
    }
    .headerLogoTwo img {
        height: 85px;
    }
    .headerTitle {
        font-size: 26px;
        padding-top: 10px;
    }
    .logoOneText {
        font-size: 14px;
    }
    .headerMenu {
        font-size: 14px;
    }
    .logoTwoText {
        font-size: 14px;
        p {
            font-size: 21px;
        }
    }
    .sliderBackgroundTitle {
        font-size: 28px;
    }
}
@media (max-width: 840px) {
    .headerTop {
        background-image: none;
    }
    .headerInnerTop {
        height: 300px;
        flex-wrap: wrap;
        flex-direction: column;
        display: block;
    }
    .headerLogoOne {
        display: flex;
        margin-top: 0;
        max-width: 510px;
        // padding-top: 85px;
        img {
            // bottom: 0px;
            // margin: 0;
            // bottom: -50px;
            // left: -40px;
            position: relative;
            margin: auto;
            left: 0;
            bottom: 0;
            width: 43%;
        }
    }
    .logoOneText {
        padding-top: 15px;
        font-size: 24px;
    }
    .headerLogoTwo {
        margin-top: 100px;
        display: flex;
        text-align: left;
        flex-direction: row-reverse;
        max-width: 780px;
        img {
            margin-left: 25px;
            height: 100px;
        }
    }
    .logoTwoText {
        padding-left: 50px;
        font-size: 24px;
        p {
            font-size: 32px;
            line-height: 40px;
        }
    }
    .headerMenu {
        margin-top: 15px;
        font-size: 22px;
    }
    .headerTitle {
        font-size: 30px;
        padding-top: 6px;
    }
    .quizInnerItem {
        h1 {
            font-size: 32px;
        }
    }
}
@media (max-width: 775px) {
    .logoOneText {
        font-size: 16px;
    }
    .logoTwoText {
        font-size: 18px;
        padding-left: 40px;
        p {
            font-size: 26px;
        }
    }
    .headerMenu {
        font-size: 16px;
        margin-top: 25px;
    }
    .headerLogoOne {
        max-width: 370px;
        img {
            width: 35%;
        }
    }
    .headerLogoTwo {
        max-width: 580px;
        img {
            height: 85px;
        }
    }
    .sliderBackgroundTitle {
        font-size: 24px;
        padding: 30px 20px 40px;
    }
    .quizInnerItem {
        h1 {
            font-size: 26px;
        }
    }
}
@media (max-width: 607px) {
    .headerInnerTop {
        height: 250px;
    }
    .headerLogoOne {
        max-width: 300px;
    }
    .headerLogoTwo {
        max-width: 480px;
        margin-top: 75px;
        img {
            height: 80px;
            margin-left: 20px;
        }
    }
    .logoOneText {
        font-size: 12px;
    }
    .logoTwoText {
        font-size: 14px;
        padding-left: 30px;
        p {
            font-size: 22px;
        }
    }
    .headerMenu {
        font-size: 14px;
        margin-top: 25px;
    }
    .headerTitle {
        font-size: 24px;
        padding-top: 10px;
    }
    .sliderBackgroundTitle {
        font-size: 20px;
    }
    .quizInnerItem {
        h1 {
            font-size: 22px;
        }
        div {
            font-size: 18px;
        }
        h4 {
            font-size: 18px;
        }
        a {
            font-size: 16px;
        }
    }
}
@media (max-width: 491px) {
    .headerLogoOne {
        max-width: 281px;
        padding-top: 10px;
        img {
            width: 30%;
            margin-right: 10px;
        }
    }
    .logoOneText {
        padding-top: 10px;
    }
    .headerLogoTwo {
        max-width: 480px;
        margin-top: 75px;
        img {
            height: 75px;
            margin-left: 10px;
            padding-right: 0;
        }
    }
    .logoOneText {
        font-size: 14px;
    }
    .logoTwoText {
        font-size: 14px;
        padding-left: 25px;
        p {
            font-size: 18px;
            line-height: 20px;
        }
    }
    .sliderBackgroundTitle {
        font-size: 22px;
    }
    .loginDetails {
        input {
            max-width: 240px;
            margin-right: 15px;
        }
    }
    .sliderInnerCard {
        padding: 25px 40px 25px;
    }
    .cardTitle {
        font-size: 22px;
    }
    .cardInner {
        font-size: 16px;
        padding-top: 7px;
        a {
            font-size: 22px;
        }
    }
    .quizInnerItem {
        h1 {
            font-size: 18px;
        }
        div {
            font-size: 16px;
        }
        h4 {
            font-size: 16px;
        }
        a {
            font-size: 14px;
        }
    }
    button{
        font-size: 12px;
        width: 80px;
    }
    .sound-clips{
        audio{
            width: 250px;
            height: 45px;
        }
    }
}
@media (max-width: 371px) {
    .headerInnerTop {
        height: 200px;
    }
    .headerLogoOne {
        max-width: 281px;
        padding-top: 10px;
        img {
            width: 25%;
            margin-right: 0px;
        }
    }
    .logoOneText {
        font-size: 12px;
        margin-right: 25px;
    }
    .headerLogoTwo {
        max-width: 480px;
        margin-top: 55px;
        img {
            height: 60px;
            margin-left: 7px;
            padding-right: 0;
        }
    }
    .logoTwoText {
        font-size: 12px;
        padding-left: 10px;
        p {
            font-size: 16px;
            line-height: 20px;
        }
        div {
            padding-top: 6px;
        }
    }
    .headerMenu {
        margin-top: 15px;
    }
    .headerTitle {
        font-size: 18px;
        padding-top: 13px;
    }
    .sliderBackgroundTitle {
        font-size: 18px;
    }
    .footerInner {
        font-size: 12px;
        padding-top: 22px;
    }
    .loginDetails {
        label {
            font-size: 18px;
        }
        input {
            max-width: 200px;
            margin-right: 15px;
        }
    }
    .sliderInnerCard {
        padding: 20px 35px 20px;
    }
    .cardTitle {
        font-size: 18px;
    }
    .cardInner {
        font-size: 12px;
        padding-top: 7px;
        a {
            font-size: 18px;
        }
    }
    .calltoaction__button {
        margin-top: 20px;
    }
    .quizInnerItem {
        h1 {
            font-size: 16px;
        }
        div {
            font-size: 14px;
        }
        h4 {
            font-size: 14px;
        }
        a {
            font-size: 12px;
        }
    }
}
@media (max-width: 320px) {
    .loginLabel {
        font-size: 16px;
    }
    .loginDetails {
        label {
            font-size: 14px;
        }
        input {
            max-width: 180px;
            margin-right: 15px;
        }
    }
    .sliderInnerCard {
        padding: 15px 24px 15px;
    }
}

//end media
