{% extends 'base.html' %}
{% block title %} EVA {% endblock %}
{% load static %}

{% block body %}


<!-- cards -->

{% if user.is_authenticated %}
<div class="sliderInnerBackground">
  {% for quiz in quizzes %}
  <div class="sliderInnerCard">
    <div class="cardTitle">{{quiz.name}}</div>
    <div class="cardInner">
      <div class="cardText">{{quiz.desc}}</div>
      <a class="calltoaction__button" href="/{{quiz.id}}/1">
        Начать опрос
      </a>
    </div>
  </div>
</div>
{% endfor %}



{% else %}
<div class="sliderInnerBackground">
  <div class="sliderBackgroundTitle">
    Для работы с Евой необходимо авторизоваться
  </div>
</div>

{% endif %}

{% endblock %}
{% block js %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="{% static 'ui/js/libs.min.js' %}"></script>
<script src="{% static 'ui/js/main.js' %}"></script>
{% endblock %}