{% extends 'base.html' %}
{% block title %} EVA {% endblock %}
{% load static %}

{% block body %}

{% if user.is_authenticated %}
  <!-- cards -->
<div class="container">
  <div class="container mx-auto mt-2">
    <div class="row">

      {% for quiz in quizzes %}
      <div class="col-md-4">
        <div class="card" style="width: 21rem; margin: 1rem">
          <h4 class="card-title" style="text-align: center;">{{quiz.name}}</h4>
          <div class="card-body">

            <p class="card-text">{{quiz.desc}}</p>
            <br>
            <a class="btn btn-primary" href="{{quiz.id}}">
              Начать опрос
            </a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>

{% else %}
<div class="container">
  <h3>Для работы с Евой нужно авторизоваться</h3>
</div>
{% endif %}

{% endblock %}
